Stevan Little <stevan@iinteractive.com> Stevan Little <stevan@localhost.(none)>
Stevan Little <stevan@iinteractive.com> Stevan Little <stevan.little@iinteractive.com>
Daisuke Maki <dmaki@cpan.org> Daisuke Maki (lestrrat) <daisuke@endeworks.jp>
